@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&family=Merriweather:ital@1&display=swap');
:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(255, 255, 255); 
    --tertiary: rgb(190, 0, 0);
    --light: rgb(228, 228, 228);
    --dark: rgb(0, 0, 0);
    --headerFont: 'Merriweather', serif;
    --bodyFont: 'Handlee', cursive;
    --signiatureFont: 'Dancing Script', cursive;
    width: 100vw;
}
body {
    display: flex;
    flex-direction: column;
    color: var(--black);
    background-color: var(--light);
    font-family: var(--bodyFont);
}
/* Navbar Styling */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    flex-direction: column;
    text-align: center;
    font-family: var(--headerFont);
    margin: 0
}
#navHead {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
#name {
    display: flex;
    font-family: var(--headerFont);
    font-size: 56px;
    font-weight: bold;
    color: var(--tertiary);
    margin: 0 auto
}
#title {
    display: flex;
    font-size: 32px;
    color: var(--tertiary);
    margin: 0 auto
}
.navlinks {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    font-size: 20px;
    margin: 0 auto
}
.links a {
    color: var(--tertiary);
    margin-right: 20px;
    text-decoration: none;    
}
.links a:hover {
    color: var(--secondary);
}
/* About Me Styling */
#aboutMe {
    display: flex;
    flex-direction: row;
    padding: 0
}
#profileImg {
    display: flex;
    width: 33vw;
}
#bio {
    display: flex;
    font-size: 32px;
    margin: 10px;
    align-items: center;
    text-align: center;
    color: var(--dark);    
}
/* Contact Me Styling */
#contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h2 {
    font-family: var(--headerFont);
    margin-top: 20px;
    font-weight: bold;
    font-size: 64px;
    text-decoration: underline;
}
p {
    font-size: 24px;
}
.contact-link {
    font-size: 32px;
    list-style-type: none;
}
.link {
    color: var(--dark);    
}
.link:hover {
    color: var(--primary);
}
/* My Work Styling */
.card {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
}
#myWork {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;    
}
.title {
    color: var(--dark);
    font-family: var(--headerFont);
    font-size: 24px;
    text-decoration: underline;
}
.work-img {
    display: flex;
    height: 250px;
    width: 550px;
}
.links {
    display: flex;
    justify-content: space-evenly;
}
.link {
    color: var(--dark);
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none; 
    justify-content: space-evenly;
}